body {
  margin: 30px;
  font-family: 'Courier New', Courier, monospaced;
}
h1 {
  text-transform: uppercase;
  transform: rotate(-0.5deg);
  -webkit-transform:rotate(-0.5deg);
}
h1, h2 {
  font-weight: normal;
  letter-spacing: 0.5em;
}
a {
  color: blue;
}
.link-list {
  padding: 0;
}
.link-list > li {
  list-style: none;
  display: inline-block;
}