/* CGA Colors, baby: http://en.wikipedia.org/wiki/Color_Graphics_Adapter */

@font-face {
  font-family: vcr;
  src: url(vcr_osd_mono.ttf);
}

body {
  background-color: #000;

  font-family: vcr;
  font-size: 2em;
  color: #fff;
  text-shadow: 0.05em 0.05em #FF55FF;
  text-transform: uppercase;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  padding: 1em;
  background-color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #55FFFF;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

p:nth-child(2) {
  color: #AA00AA;
  text-shadow: 0.05em 0.05em #FF55FF;
}

@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.blink {
  -webkit-animation: blink 1.0s linear infinite;
  -moz-animation: blink 1.0s linear infinite;
  animation: blink 1.0s linear infinite;
}
