@font-face {
  font-family: vcr;
  src: url(vcr_osd_mono.ttf);
}

body {
  background-color: #000;
  margin: 0;
  font-family: vcr;
  color: #fff;
  font-size: 2em;
  text-shadow: 0.2em 0.2em #00117d;
}
